
#filters {

  .paper-item-0 {
    text-transform: capitalize;
  }

  #tabsContent {
    .paper-tab-0 {
      font-family: $lato-bold !important;
    }

  }
}

.paper-input-container-1 .input-content.paper-input-container input, .paper-input-container-1 .input-content.paper-input-container textarea, .paper-input-container-1 .input-content.paper-input-container iron-autogrow-textarea, .paper-input-container-1 .input-content.paper-input-container .paper-input-input {
  font-family: $lato !important;
}

.paper-header-panel-0 #dropShadow.has-shadow.paper-header-panel {
  opacity: 0 !important;
}


/* 
Sigma specific category classes */
$color-administration: #EDBF46;
$color-embedding: #e82929;
$color-fundamentals: #000000;
$color-snowflake: #29B5E8;
$color-use-cases: #08f944;

$icon-administration: 'administration.svg';
$icon-embedding: 'embedding.svg';
$icon-fundamentals: 'Solutions_MarkAnal.svg';
$icon-snowflake: 'snowflake-logo.svg';
$icon-use-cases: 'use-cases.svg';

@include codelab-card(['administration'], $color-administration, $icon-administration);
@include codelab-card(['embedding'], $color-embedding, $icon-embedding);
@include codelab-card(['fundamentals'], $color-fundamentals, $icon-fundamentals);
@include codelab-card(['snowflake'], $color-snowflake, $icon-snowflake);
@include codelab-card(['use-cases'], $color-use-cases, $icon-use-cases);

/** Categories in Use (so far):
administration
fundamentals
embedding
use-cases
**/


