
#filters {

  .paper-item-0, #input {
    text-transform: capitalize;
  }

  #tabsContent {
    .paper-tab-0 {
      font-family: $lato-bold !important;
    }

  }
}

.paper-input-container-1 .input-content.paper-input-container input, .paper-input-container-1 .input-content.paper-input-container textarea, .paper-input-container-1 .input-content.paper-input-container iron-autogrow-textarea, .paper-input-container-1 .input-content.paper-input-container .paper-input-input {
  font-family: $lato !important;
}

.paper-header-panel-0 #dropShadow.has-shadow.paper-header-panel {
  opacity: 0 !important;
}


/* 
Sigma specific category classes */
$color-administration: #000000;
$color-embedding: #000000;
$color-fundamentals: #000000;
$color-snowflake: #000000;
$color-tables: #000000;
$color-use-cases: #000000;
$color-functions: #000000;
$color-partners: #000000;

$icon-administration: 'administration.svg';
$icon-embedding: 'embedding.svg';
$icon-fundamentals: 'Solutions_MarkAnal.svg';
$icon-snowflake: 'snowflake-logo.svg';
$icon-tables: 'tables.svg';
$icon-use-cases: 'use-cases.svg';
$icon-functions: 'functions.svg';
$icon-partners: 'partners.svg';

@include codelab-card(['administration'], $color-fundamentals, $icon-administration);
@include codelab-card(['embedding'], $color-fundamentals, $icon-embedding);
@include codelab-card(['fundamentals'], $color-fundamentals, $icon-fundamentals);
@include codelab-card(['snowflake'], $color-fundamentals, $icon-snowflake);
@include codelab-card(['tables'], $color-fundamentals, $icon-tables);
@include codelab-card(['use-cases'], $color-fundamentals, $icon-use-cases);
@include codelab-card(['functions'], $color-fundamentals, $icon-functions);
@include codelab-card(['partners'], $color-partners, $icon-partners);
  
/** Categories in Use (so far):
administration
fundamentals
embedding
tables
use-cases
functions
partners
**/


