
#filters {

  .paper-item-0, #input {
    text-transform: capitalize;
  }

  #tabsContent {
    .paper-tab-0 {
      font-family: $lato-bold !important;
    }

  }
}

.paper-input-container-1 .input-content.paper-input-container input, .paper-input-container-1 .input-content.paper-input-container textarea, .paper-input-container-1 .input-content.paper-input-container iron-autogrow-textarea, .paper-input-container-1 .input-content.paper-input-container .paper-input-input {
  font-family: $lato !important;
}

.paper-header-panel-0 #dropShadow.has-shadow.paper-header-panel {
  opacity: 0 !important;
}


/*
Sigma specific category classes */
$color-administration: #000000;
$color-aiapps: #4CAF50;
$color-dataapps: #4CAF50;
$color-developers: #3F51B5;
$color-embedding: #06dbf7;
$color-fundamentals: #FFA726;
$color-security: #f70606;
$color-tables: #FBC02D;
$color-use-cases: #7E57C2;
$color-functions: #266963;
$color-partners: #7a5144;
$color-templates: #EC407A;

$icon-administration: 'administration.svg';
$icon-aiapps: 'aiapps.svg';
$icon-dataapps: 'dataapps.svg';
$icon-developers: 'developers.svg';
$icon-embedding: 'embedding.svg';
$icon-fundamentals: 'Solutions_MarkAnal.svg';
$icon-security: 'security.svg';
$icon-tables: 'tables.svg';
$icon-use-cases: 'use-cases.svg';
$icon-functions: 'functions.svg';
$icon-partners: 'partners.svg';
$icon-templates: 'workbook-template.svg';

@include codelab-card(['administration'], $color-administration, $icon-administration);
@include codelab-card(['aiapps'], $color-aiapps, $icon-aiapps);
@include codelab-card(['dataapps'], $color-dataapps, $icon-dataapps);
@include codelab-card(['developers'], $color-developers, $icon-developers);
@include codelab-card(['embedding'], $color-embedding, $icon-embedding);
@include codelab-card(['fundamentals'], $color-fundamentals, $icon-fundamentals);
@include codelab-card(['security'], $color-security, $icon-security);
@include codelab-card(['tables'], $color-tables, $icon-tables);
@include codelab-card(['use-cases'], $color-use-cases, $icon-use-cases);
@include codelab-card(['functions'], $color-functions, $icon-functions);
@include codelab-card(['partners'], $color-partners, $icon-partners);
@include codelab-card(['templates'], $color-templates, $icon-templates);

// Special override for dark category bars - white text
.administration-bar,
.functions-bar,
.partners-bar,
.use-cases-bar,
.security-bar,
.aiapps-bar,
.developers-bar {
  color: #fff !important;
}

/** Categories in Use (so far):
Administration
AI Apps
Developers
Embedding
Functions
Fundamentals
Partners
Security
Tables (include pivot and input tables for now)
Use-cases
**/


